<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Welcome!
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/0018442f3b.js"></script>
        {% block stylesheets %}{% endblock %}
        {% block pageScript %}{% endblock %}
        <link href="{{ asset('css/general.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    </head>
    <body>
        {% block nav %}{% endblock %}
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
    </body>
</html>
